.PinCodeKeypadContainer {
    height: auto;
    width: 260px;
    user-select: none;
    animation: PinCodeAppear 0.15s ease-in-out 1
}

@keyframes PinCodeAppear {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

.PinCodeRowContainer {
    border-spacing: 5px;
}


.PinCodeButton {
    display: table-cell;
    font-family: var(--primary-font-family);
    font-size: 18pt;
    font-weight: 300;
    border-radius: 50%;
    line-height: 80px;
    width: 80px;
    height: 80px;
    border: 1px solid #AAA;
    color: #FFF;
    text-align: center;
    transition: background 0.25s;
    transition-timing-function: ease-out;
    background: rgba(47,47,47,255);
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 5px #AAA;
}

#PinCodeZeroButton {
    font-family: var(--primary-font-family);
    font-size: 18pt;
    font-weight: 300;
    border-radius: 50%;
    line-height: 80px;
    width: 80px;
    height: 80px;
    border: 1px solid #AAA;
    color: #FFF;
    text-align: center;
    margin: auto;
    background: rgba(47,47,47,255);
    cursor: pointer;
    user-select: none;
}

.PinCodeButton:active {
    background: #999;
}

