.ProjectMessageDisplayContainer {
    display: block;
    background: var(--background-color);
    margin: 0px;
    width: 100%;
    height: 100%;
}

.ProjectMessageDisplayMessage {
    font-family: var(--primary-font-family);
    font-size: 14pt;
    color: var(--alternative-active-text-color);
    text-align: center;
}