.TaskInspector {
    position: relative;
    background: var(--surface-color-alternate);
    height: 100vh;
    overflow-y: scroll;
}

.TaskInspectorCalendarContainer {
}

.TaskInspectorCommentPanelContainer {
}

.TaskInspectorNotesContainer {
    position: fixed;
    top: 80px;
    bottom: 10px;
    left: 0px;
    right: 0px;
    padding: 10px;
}

.TaskInspectorMetadataContainer {
}

.TaskNotePanel {
    height: 100%;
    width: 100%;
    background: var(--surface-color-alternate);
    color: var(--primary-active-text-color);
    font-family: var(--primary-font-family);
    resize: none;
    border: none;
}