body {
    background: rgba(27, 27, 27);
    font-family: 'open sans', 'lucida grande';
    font-weight: 400;
}

.HelpPageContainer {}

.ExampleContainer {
    width: fit-content;
    height: 22px;
    background: rgb(32, 50, 65);
    padding: 4px;
    margin-top: 10px;
}

.ExampleText {
    color: #DDD;
    font-size: 10pt;
}

.GetStartedListItem {
    padding-bottom: 40px;
}

.ButtonIcon {
    width: 28px;
    height: 28px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
}

h1 {
    color: #AAA;
    font-weight: 400;
}

h2 {
    color: #AAA;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 15px;
}

h3 {
    color: #AAA;
    font-weight: 400;
    width: 100%;
    border-bottom: 1px solid gray;
    margin-top: 25px;
    margin-bottom: 15px;
}

h4 {
    color: #AAA;
    font-size: 12pt;
    font-weight: 400;
}

h5 {
    color: #AAA;
    font-size: 10pt;
    font-weight: 400;
}

a {
    color: #DDD;
    font-weight: 400;
}

li {
    color: #DDD;
    font-weight: 400;
}

p {
    color: #DDD;
    font-size: 11pt;
}

::-webkit-scrollbar {
    background: rgb(27,27,27);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: gray;
}