.AccountScreenContainer {
    display: block;
    position: fixed;
    background: rgba(27,27,27,255);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
  }

.AccountScreenOuter {
    display: table;
    width: 100%;
    height: 100%;
}

.AccountScreenInner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.AccountScreenCentered {
    position: relative;
    display: inline-block;
    width: 100%;
}

.AccountScreenLabel {
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 12pt;
}

.AccountScreenLogoContainer {
    margin-bottom: 10px;
}

.AccountScreenLogo {
    width: 75px;
    height: 75px;
}

.AccountScreenMessageContainer {
    margin-top: 15px;
}

.AccountScreenMessage {
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    color: lightgray;
    background: transparent;
    font-size: 10pt;
}

.AccountScreenCloseButtonContainer {
    position: absolute;
    right: 20px;
    top: 5px;

}

.AccountScreenCloseButton {
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20pt;
}

.EmailContainer {
    margin-bottom: 10px;
}

.PasswordContainer {
    margin-bottom: 10px;
}

.AccountScreenInput {
    width: 60%;
    height: 25px;
    text-align: center;
    color: #FFF;
    margin: auto 5px;
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    background: rgba(100,100,100,255);
    border: 0px solid #FFF;
}

.AccountScreenLogInLogOutButton {
    background-color: rgba(50,50,50,255);
    height: 45px;
    width: 80px;
    color: white;
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    border: 1px white solid;
    padding: 5px 15px;
}