html, body {
  min-height: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: scroll;
}

#root {
  height: 100%;
  min-height: 100%;
  background: rgba(0,0,0,255);

  /* Colors */
  --primary-color: rgb(27, 27, 27);
  --background-color: #000000; 
  --surface-color:  rgb(17, 17, 17);
  --surface-color-alternate: rgb(27, 27, 27);
  --primary-button-background-image: linear-gradient(to bottom,rgba(68,68,68,0.50),rgba(60,60,60,0.50));

  /* Layout */
  --back-arrow-margin-left: 14px;

}

.App {
  background: rgba(0,0,0,255);
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/* Project Container Transitioning. Hide when covered by Sidebar */
.ProjectContainer-exit-done {
  display: none;
}

.ProjectContainer-enter {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
}

.ProjectContainer-enter-done {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
}

/* Sidebar Container Transitioning. 
enter, enter-active, enter-done, 
exit, exit-active, exit-done.  */
.SidebarContainer-enter {
  position: absolute;
  transform: translatex(-100%);
  z-index: 3;
  height: 100vh;
  width: 100%;
}

.SidebarContainer-enter-active {
  position: absolute;
  transform: translatex(0%);
  z-index: 3;
  transition: transform 250ms ease-in;
}

.SidebarContainer-enter-done {
  position: absolute;
  transform: translatex(0%);
  z-index: 3;
  height: 100vh;
  width: 100vw;
}


.SidebarContainer-exit {
  position: absolute;
  transform: translatex(0%);
  z-index: 3;
  height: 100vh;
  width: 100vw;
}

.SidebarContainer-exit-active {
  position: absolute;
  transform: translatex(-100%);
  transition: transform 200ms ease-in;
  z-index: 3;
}

.SidebarContainer-exit-done {
  position: absolute;
  transform: translatex(-100%);
}
