html, body {
  min-height: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-y: auto;
  overflow-x: hidden;

}

body {
  /* Font Size Toggle */
  --task-font-size: 11pt;
  --task-assignee-font-size: 10pt;
  --task-list-header-font-size: 12pt;
  --project-selector-font-size: 11pt;


  /* Colors */
  /* *** MAKE SURE THAT ANYTHING YOU CHANGE HERE IS ALSO REFLECTED IN THE FALLBACK CSS CONFIG *** */
  --primary-color: #1b1b1b;
  --background-color: #000000; 
  --surface-color:  #111111;
  --surface-color-alternate: #1b1b1b;

  /* New */
  /* General */
  --primary-active-text-color: #FFF;
  --primary-inactive-text-color: #808080;
  --primary-hover-color: #343738;
  --alternate-active-text-color: #CCC;
  --alternate-inactive-text-color: #777;
  --loading-spinner-primary-color: #a9a9a9;
  --loading-spinner-secondary-color: #ffffff;
  --button-background-top-color: #333333;
  --button-background-bottom-color: #2d2d2d;

  /* Task */
  --task-checkbox-color: #FFF;
  --task-text-color: #FFF;
  --task-selected-color: #373737;
  --task-hover-color: #282828; 
  --task-divider-color: #282828;

  /* Due Date and Priority Colors */
  --overdue-color: #F00;
  --soon-color: #FF9300;
  --later-color: #22B30B;
  --today-color: #1455c0;
  --important-color: #FF9300;
  --due-date-text-color: #FFF;
  --due-date-circle-color: #777;
  --assignee-background-color: #236c76;
  --assignee-text-color: #FFF;

  /* Task List */
  --task-list-header-text-color: #FFF;
  --task-list-header-selected-text-color: #FFF;   /* NEW */
  --task-list-header-selected-border-color: #FFF; /* REMOVE */
  --task-list-header-background-color: #332d38;      /* NEW */
  --task-list-header-background-selected-color: #665b70; /* CHANGED */

  /* Database */
  --database-synced-color: #008000;
  --database-updates-pending-color: #FF9300;

  background: var(--primary-color);
}

#root {
  height: 100%;
  min-height: 100%;
  background: rgba(0,0,0,255);

  /* Layout */
  --back-arrow-margin-left: 14px;

}

.App {
  background: rgba(0,0,0,255);
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/* Project Container Transitioning. Hide when covered by Sidebar */
.ProjectContainer-exit-done {
  display: none;
}

.ProjectContainer-enter {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
}

.ProjectContainer-enter-done {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
}

/* Sidebar Container Transitioning. 
enter, enter-active, enter-done, 
exit, exit-active, exit-done.  */
.SidebarContainer-enter {
  position: absolute;
  transform: translatex(-100%);
  z-index: 3;
  height: 100vh;
  background: var(--background-color);
  width: 100%;
}

.SidebarContainer-enter-active {
  position: absolute;
  transform: translatex(0%);
  width: 100%;
  background: var(--background-color);
  z-index: 3;
  transition: transform 250ms ease-out;
}

.SidebarContainer-enter-done {
  position: absolute;
  transform: translatex(0%);
  background: var(--background-color);
  z-index: 3;
  height: 100vh;
  width: 100vw;
}


.SidebarContainer-exit {
  position: absolute;
  transform: translatex(0%);
  background: var(--background-color);
  z-index: 3;
  height: 100vh;
  width: 100vw;
}

.SidebarContainer-exit-active {
  position: absolute;
  background: var(--background-color);
  width: 100%;
  transform: translatex(-100%);
  transition: transform 200ms ease-in;
  z-index: 3;
}

.SidebarContainer-exit-done {
  position: absolute;
  background: var(--background-color);
  width: 100%;
  transform: translatex(-100%);
}
