html, body {
  min-height: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: scroll;
}

#root {
  height: 100%;
  min-height: 100%;
  background: rgba(0,0,0,255);

  /* Colors */
  --primary-color: rgb(27, 27, 27);
  --background-color: #000000; 
  --surface-color:  rgb(17, 17, 17);
  --surface-color-alternate: rgb(27, 27, 27);
  --primary-button-background-image: linear-gradient(to bottom,rgba(68,68,68,0.50),rgba(60,60,60,0.50));

}

.App {
  background: rgba(0,0,0,255);
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.SidebarProjectFlexContainer {
  /*
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  */
}

.SidebarContainer {
  position: fixed;
  float: left;
  z-index: 3;
  height: 100vh;
}

.ProjectContainer {
  float: right;
  position: absolute;
  left: 25px;
  width: 90vw;
}