.ButtonContainer {
    flex-grow: 0;
    height: 27px;
    width: 62px;
    margin: 4px;
    padding: 4px;
    background-image: linear-gradient(to bottom,var(--button-background-top-color),var(--button-background-bottom-color));
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    opacity: 0.75;
}

.ButtonContainer[data-isenabled*="false"] {
    opacity: 0.25;
    pointer-events: none;
}
.ButtonContainer[data-size*="small"] {
    height: 27px;
    width: 48px;
}

.ButtonContainer[data-size*="verysmall"] {
    height: 22px;
    width: 32px;
    padding: 2px;
}

.ButtonContainer:hover {
    opacity: 1;
}

.ButtonContentFlexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ButtonContentFlexItemContainer {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
}

.ButtonIcon {
    width: 100%;
    height: 100%;
    color: #FFF;
}

.ButtonText {
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    line-height: 27px; /* Keeps text Vertically Centered on Chrome Mobile */
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
}

.ButtonText[data-size*="small"] {
    font-size: 8pt;
    line-height: 20pt;
    vertical-align: middle;
}

.ButtonText[data-size*="verysmall"] {
    font-size: 8pt;
    line-height: 14pt;
    vertical-align: middle;
}