.ButtonContainer {
    flex-grow: 0;
    height: 32px;
    width: 62px;
    margin: 4px;
    padding: 4px;
    background-image: linear-gradient(to bottom,var(--button-background-top-color),var(--button-background-bottom-color));
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    opacity: 0.75;
}

.ButtonContainer[data-isenabled*="false"] {
    opacity: 0.25;
    pointer-events: none;
}

.ButtonContainer[data-size*="small"] {
    height: 32px;
    width: 55px;
    padding: 2px;
}

.ButtonContainer[data-size*="verysmall"] {
    height: 22px;
    width: 32px;
    padding: 2px;
}

.ButtonContainer:hover {
    opacity: 1;
}

.ButtonContentFlexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ButtonContentFlexItemContainer {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 80%;
}

.ButtonIcon {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.ButtonText {
    flex-shrink: 1;
    width: 100%;
    color: #FFF;
    font-size: 9pt;
    text-align: center;
    font-family: var(--primary-font-family);
}

.ButtonText[data-size*="small"] {
    flex-shrink: 1;
    font-size: 8pt;
}

.ButtonText[data-size*="verysmall"] {
    flex-shrink: 1;
    font-size: 8pt;
}

