/* Transition */
.CalendarTransition-enter {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    transform: translateX(100%);
    z-index: 5;
}

.CalendarTransition-enter-active {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transform: translateX(0%);
    transition: transform 250ms ease;
    z-index: 5;
    
}

.CalendarTransition-enter-done {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;

}

.CalendarTransition-exit {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    transform: translateX(0%);
    z-index: 5;
}

.CalendarTransition-exit-active {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transform: translateX(100%);
    transition: transform 250ms ease;
    z-index: 5;
    
}

.CalendarTransition-exit-done {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;

}




.CalendarPopupContainer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: var(--primary-color);
    height: 100%;
    padding: 0px;
    overflow-y: auto;
}

.CalendarGrid {
    display: grid;
    padding: 0px 10px 0px 10px;
    grid-template-columns: [Main]1fr;
    grid-template-rows: [Header]max-content [Shortcuts]max-content [DayPicker]max-content [AssignTo]1fr;
    grid-column-gap: 10px;
}

.CalendarShorcuts {
    grid-column: Main;
    grid-row: Shortcuts;
    justify-content: center;
    align-self: flex-start;
}

.CalendarDayPicker {
    grid-column: Main;
    grid-row: DayPicker;
    justify-content: center;
    align-self: flex-start;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.CalendarAssignTo {
    grid-column: Main;
    grid-row: AssignTo;
    justify-content: center;
    align-self: flex-start;
}

.CalendarHeaderContainer {
    grid-column: Main;
    grid-row: Header;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray;
}

.DateLabel {
    color: white;
    flex-shrink: 1;
    width: fit-content;
}

.PriorityToggleContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: fit-content;
    width: fit-content;
    padding: 0px 20px 0px 10px;
}

.PriorityToggle {
    flex-shrink: 1;
    font-family: var(--primary-font-family);
    color: #FFF;
    font-weight: 500;
    font-size: 28px;
    cursor: default;
}

.PriorityToggle[data-ishighpriority*=true] {
    color: var(--important-color);
    font-weight: 600;
}

.CalendarShortcutsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: [Left]1fr [Right]1fr;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    padding-bottom: 5px;
}


.ShortcutItemContainer {
    flex: 1;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    cursor: default;
    padding: 0px 5px 0px 10px;
}

.ShortcutItemContainer[data-grid-col*="left"] {
    grid-column: Left;
}

.ShortcutItemContainer[data-grid-col*="right"] {
    grid-column: Right;
}

.CalendarShortcutHorizontalSpace {
    flex-shrink: 1;
    width: 20px;
}

.ShortcutItemContainer:hover {
    background: rgba(52,52,52,255);
}


.CalendarShortcutItemLabel {
    flex: 1;
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 12pt;
    color: #FFF;
    padding: 5px 0px 5px 0px;
    text-align: left;
}

.CalendarShortcutDaysInput {
    flex: 1;
    max-width: 50px;
    font-family: var(--primary-font-family);
    color: #FFF;
    background: var(--surface-color-alternate);
    text-align: center;
    border: 1px solid gray;
}

.CalendarShortcutApplyButtonContainer {
    flex: 1;
}

.CalendarAssignToContainer {
    width: 100%;

}

.CalendarAssignToHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
}

.CalendarMembersContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.CalendarMember {
    flex-shrink: 1;
    height: 25px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 3px 9px 3px 9px;
    margin: 10px;
    background: var(--surface-color-alternate);
    border: 1px solid gray;
    border-radius: 25%;
}

.CalendarMemberName {
    flex-shrink: 1;
    color: var(--primary-inactive-text-color);
    font-family: var(--primary-font-family);
    font-size: 11pt;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    cursor: default;
}

.CalendarMemberName[data-isselected*="true"] {
    color: var(--primary-active-text-color);
}

.CalendarAssignToHeader {
    flex-shrink: 1;
    color: var(--alternate-active-text-color);
    font-family: var(--primary-font-family);
    font-size: 10pt;
    padding-top: 10px;
    padding-bottom: 10px;
}
