.DueDateContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.DueDate {
  position: relative;
  border-Radius: 50%;
  width: 28px;
  height: 28px; /* Set line-height of .DueDateText equal to this */
  color: #FFF;
  flex-grow: 1;
  margin-right: 5px;
}

.DueDateText {
  display: block;
  font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
  font-size: 7pt;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  line-height: 28px; /* Set height: of .DueDate Equal to This */
  user-select: none;
}

.Complete {
  background: #444;
  height: 20px;
  width: 20px;
}

.Overdue {
  background: #F00;
}

.Soon {
  background: #FF9300;
}

.Later {
  background: #22B30B;
}

.NotSet {
  background: transparent;
  border: 1px solid #777;
  height: 20px;
  width: 20px;
}