.DueDateContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.DueDate {
  position: relative;
  border-Radius: 50%;
  width: 32px;
  height: 32px; /* Set line-height of .DueDateText equal to this */
  color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-color: var(--due-date-circle-color);
  flex-grow: 1;
  margin-right: 5px;
}

.DueDateText {
  flex-shrink: 1;
  color: var(--due-date-text-color);
  font-family: var(--primary-font-family);
  font-size: 7pt;
  font-weight: 700;
  user-select: none;
}


.Complete {
  background: #222;
  height: 32px;
  width: 32px;
}

.Overdue {
  background: var(--overdue-color);
  border-color: var(--overdue-color);
}

.Soon {
  background: var(--soon-color);
  border-color: var(--soon-color);
}

.Later {
  background: var(--later-color);
  border-color: var(--later-color);
}

.Today {
  background: var(--today-color);
  border-color: var(--today-color);
}

.Today .DueDateText {
  font-weight: 700;
  font-stretch: extra-condensed;
}

.NotSet {
  background: transparent;
  border-color: var(--due-date-circle-color);
  height: 32px;
  width: 32px;
}