/* Transitioning */
/* In */
.FloatingTextInputTransition-enter {
  width: 100%;
  transform: translateY(-100%);
}

.FloatingTextInputTransition-enter-active {
  width: 100%;
  transform: translateY(0%);
  transition: transform 250ms ease;
}

.FloatingTextInputTransition-done {
  width: 100%;
}

/* Out */
.FloatingTextInputTransition-exit {
  width: 100%;
  transform: translateY(0%);
}

.FloatingTextInputTransition-exit-active {
  width: 100%;
  transform: translateY(-100%);
  transition: transform 250ms ease;
}

.FloatingTextInputTransition-exit-done {
  width: 100%;
}


/* Content */

.FloatingTextInputPopupContainer {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  background: var(--primary-color);
  display: grid;
  grid-template-rows: [Header] max-content [Title]max-content [Input] max-content [Footer] auto; 
  padding-top: 10px;
}

.FloatingTextInputHeader {
  grid-row: Header;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.FloatingTextInputTitleContainer {
  grid-row: Title;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-left: 10%;
  margin-top: 10px;
}

.FloatingTextInputTitle {
  font-family: var(--primary-font-family);
  color: #AAA;
  font-size: 10pt;
}


.FloatingTextInputTextAreaContainer {
  grid-row: Input;
  align-self: center;
  justify-self: center;
  width: 90%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}

.FloatingTextInputTextArea {
    flex-shrink: 1;
    width: 90%;
    min-height: 20px;
    max-height: 100px;
    resize: none;
    vertical-align: middle;
    font-size: var(--task-font-size);
    font-family: var(--primary-font-family);
    color: var(--task-text-color);
    background: transparent;
    border: 0px solid #FFF;
  }

  .FloatingTextInputTextArea:focus {
    outline: none;
  }

  .FloatingTextInputFooter {
    display: none;
    grid-row: Footer;
    justify-self: end;
    align-self: start;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 48px;
  }

  