
/* Transitioning */
.ProjectSelectorContainer {
  padding-top: 4px;
  padding-bottom: 4px;
  user-select: none;
}

.ProjectSelectorContainer-enter {
  max-height: 0px;
  opacity: 0.01;
  overflow: hidden;
}

.ProjectSelectorContainer-enter-active {
  max-height: 240px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 250ms ease, opacity 250ms ease;
}

.ProjectSelectorContainer-enter-done {
  height: auto;
  position: relative; 
  overflow: visible;
  max-height: 240px; /* Arbirtralily larger then the container will ever get */
  display: flex;
  flex-direction: column;
}

.ProjectSelectorContainer-exit {
  height: auto;
  position: relative; 
  overflow: visible;
  max-height: 240px; /* Arbirtralily larger then the container will ever get */
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.ProjectSelectorContainer-exit-active {
  max-height: 0px;
  opacity: 0.01;
  overflow: hidden;
  transition: max-height 350ms ease, opacity 150ms ease;
}

.ProjectSelectorContainer-exit-done {
  min-height: 0px;
  max-height: 0px;
}


/* Content */

.ProjectSelectorContainer:hover {
  background: var(--primary-hover-color);
}

.ProjectSelectorText {
    color: var(--primary-inactive-text-color);
    margin: 5px;
    font-family: var(--primary-font-family);
    font-size: 12pt;
    -webkit-user-select: none;
    user-select: none;
    line-height: 20pt;
}

.ProjectSelectorText[data-isselected*="true"] {
  color: var(--primary-active-text-color);
}

.ProjectSelectorContainer {
  height: fit-content;
  min-height: 30px;
  padding-left: 5px;
}

.ProjectSelectorFlexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

.ProjectSelectorLabelContainer {
  flex: 3;
}

.ProjectSelectorHeartContainer {
  flex-grow: 0;
  width: 12px;
  height: 16px;
}

.ProjectSelectorFavoriteIcon {
  width: 100%;
  height: 100%;
}

.ProjectSelectorIconContainer {
  flex-grow: 0;
}

.ProjectSelectorIcon {
  float: right;
  margin: 0px 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.ProjectSelectorIcon[data-colour*="Red"] {
  background: var(--overdue-color);
}

.ProjectSelectorIcon[data-colour*="Blue"] {
  background: var(--today-color);
}

.ProjectSelectorIcon[data-colour*="Yellow"] {
  background: var(--soon-color);
}

.ProjectSelectorIcon[data-colour*="Green"] {
  background: var(--later-color);
}

.ProjectSelectorIcon[data-count*="0"] {
  display: none;
}

.ProjectSelectorCommentsIcon {
  float: right;
  margin: 0px 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.ProjectSelectorIconText {
  display: block;
  font-family: var(--primary-font-family);
  font-size: 12pt;
  color: var(--due-date-text-color);
  text-align: center;
  line-height: 24px;
  margin: 0px auto;
}

.ProjectSelectorInput {
  color: var(--primary-active-text-color);
  margin: auto 5px;
  font-family: var(--primary-font-family);
  font-size: 16pt;
  background: var(--surface-color-alternate);
  border: 0px solid #FFF;
  width: 85%;
}

