
.ProjectSelectorText {
    color: #FFF;
    margin: 5px;
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    -webkit-user-select: none;
    user-select: none;
    line-height: 40px;
}

.ProjectSelectorContainer {
  height: 40px;
}

.ProjectSelectorFlexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.ProjectSelectorLabelContainer {
  flex: 3;
}

.ProjectSelectorIconContainer {
  flex-grow: 0;
  height: 16px;
}

.ProjectSelectorIcon {
  float: right;
  margin: 0px 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.ProjectSelectorIcon[data-colour*="Red"] {
  background: #F00;
}

.ProjectSelectorIcon[data-colour*="Yellow"] {
  background: #FF9300;
}

.ProjectSelectorIcon[data-colour*="Green"] {
  background: #22B30B;
}

.ProjectSelectorIcon[data-count*="0"] {
  display: none;
}

.ProjectSelectorIconText {
  display: block;
  font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
  font-size: 8pt;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  line-height: 16px;
}

#projectSelectorInput {
  color: #FFF;
  margin: auto 5px;
  font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
  font-size: 16pt;
  background: rgba(100,100,100,255);
  border: 0px solid #FFF;
}

.ProjectSelectorInactiveStyle:hover {
  background: rgba(52,52,52,255);
}

.ProjectSelectorActiveStyle {
  background: rgba(63,63,76,255);
}