.ShareMenuContainer {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 10;
}

.ShareMenu {
    position: relative;
    background: var(--primary-color);
    height: 100%;
    overflow-y: scroll;
}

.ShareMenuText {
    color: var(--primary-active-text-color);
    font-family: 'Segoe UI', Lucinda Sans, Geneva, Verdana, sans-serif;
}

.ShareMenuVerticalFlexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.ShareMenuHeader {
    background: var(--primary-color);
    width: 100%;
    height: 32px;
}

.ShareMenuBackArrowContainer {
    width: 48px;
    height: 48px;
    margin-left: var(--back-arrow-margin-left);
}

.ShareMenuBackArrow {
    height: 60%;
    width: 60%;
    opacity: 0.5;
}

.ShareMenuOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 25;
    background: rgba(0, 0, 0, 0.80);
}

.ShareMenuOverlayContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ShareMenuMessage {
    flex-shrink: 1;
    padding-top: 20px;
    color: var(--primary-active-text-color);
}

.ShareMenuSubMessage {
    flex-shrink: 1;
    padding-top: 20px;
    color: var(--alternate-active-text-color);
}

.ShareMenuInviteContainer {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 125px;
}

.InviteEmail {
    flex-shrink: 1;
    width: 90%;
    margin: 5px 5px 5px 5px;
    font-family: var(--primary-font-family);
    font-size: 14pt;
    background: var(--surface-color-alternate);
    color: var(--alternate-active-text-color);
    border: gray 1px solid;
    padding: 2px;
    text-align: center;
}

.InviteRoleSelect {
    flex-shrink: 1;
    width: 140px;
    background: var(--surface-color-alternate);
    color: var(--alternate-active-text-color);
    margin-left: 10px;
    padding: 2px;
    line-height: 25px;
}

.InviteButtonContainer {
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    min-height: 50px;
}

.ShareMenuActionsContainer {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.ActionItemDivider {
    flex-shrink: 1;
    width: 50px;
}

.ActionItemContainer {
    flex-shrink: 1;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

.ActionLabel {
    flex-shrink: 1;
    width: fit-content;
    color: var(--alternate-active-text-color);
    font-family: var(--primary-font-family);
    font-size: 9pt;
    vertical-align: middle;
    padding-left: 4px;
    padding-bottom: 3px;
}

.MembersListContainer {
    flex: 1;
    width: 95%;
    margin: 0px auto;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--background-color);
    padding: 5px;
}

.MembersListContentContainer {
    width: 100%;
}

.MembersListRoleTitle {
    font-family: var(--primary-font-family);
    color: var(--alternate-inactive-text-color);
    font-size: 12pt;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

.ProjectMember {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    cursor: default;
}

.ProjectMemberContainer-enter {
    max-height: 0px;
    opacity: 0.01;
    overflow: hidden;
}

.ProjectMemberContainer-enter-active {
    max-height: 240px;
    opacity: 1;
    overflow: hidden;
    transition: max-height 250ms ease, opacity 250ms ease;
}

.ProjectMemberContainer-enter-done {
    height: auto;
    position: relative;
    overflow: visible;
    max-height: 240px;
    /* Arbirtralily larger then the container will ever get */
}

.ProjectMemberContainer-exit {
    height: auto;
    position: relative;
    overflow: visible;
    max-height: 240px;
    /* Arbirtralily larger then the container will ever get */
    opacity: 0.5;
}

.ProjectMemberContainer-exit-active {
    max-height: 0px;
    opacity: 0.01;
    overflow: hidden;
    transition: max-height 350ms ease, opacity 150ms ease;
}

.ProjectMemberContainer-exit-done {
    min-height: 0px;
    max-height: 0px;
}

.ProjectMember[data-isupdating*='true'] {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
}

.ProjectMemberGrid {
    display: grid;
    grid-template-columns:  1.2fr  1fr;
    grid-template-rows:  1fr  1fr [Divider]min-content;
    margin-bottom: 0px;
    width: 100%;
}

.ProjectMemberNameAndEmailContainer {
    grid-column: 1;
    grid-row: 1 / span 2;
    justify-self: start;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 10px;
}

.ProjectMemberDisplayName {
    flex: 1;
    font-family: 'Segoe UI', Lucida Sans, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    color: var(--primary-active-text-color);
    user-select: none;
}

.ProjectMemberEmail {
    flex: 1;
    font-family: 'Segoe UI', Lucida Sans, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    color: var(--primary-inactive-text-color);
    user-select: none;
}

.ProjectMemberButtonsContainer {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.ProjectMemberButtonsContainer[data-isenabled*='false'] {
    opacity: 0.5;
    pointer-events: none;
}

.ProjectMemberStatus {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: center;
    font-family: 'Segoe UI', Lucida Sans, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    color: var(--primary-active-text-color);
    user-select: none;
    margin: 0px 10px 0px 5px;
}

.ProjectMemberStatus[data-status*='pending'] {
    color: #FF9300;
}

.ProjectMemberStatus[data-status*='added'] {
    color: #008000;
}

.ProjectMemberStatus[data-status*='rejected invite'] {
    color: rgb(206, 36, 36);
}

.ProjectMemberDivider {
    box-sizing: content-box;
    grid-column: 1 / span 2;
    grid-row: divider;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 85%;
    height: 1px;
    margin-left: 15%;
    background: var(--task-divider-color);
}

.NoMembersMessage {
    color: #FFF;
    font-family: var(--primary-font-family);
    font-size: 10pt;
}

.ShareMenuFooter {
    width: 98%;
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}