.SnackbarContainer {
    position: fixed;
    bottom: 0px;
    left: 25px;
    right: 25px;
    box-shadow: 5px 5px 10px 0px #111;
    z-index: 21;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: bottom 1s;
}

.SnackbarContainer[data-isopen*="false"] {
    bottom: -100%;
    transition: bottom 1s;
}

.SnackbarContainer[data-type*="affirmative-notification"],
.SnackbarContainer[data-type*="negative-notification"],
.SnackbarContainer[data-type*="infomation"]  {
    background: #666666
}

.SnackbarContainer[data-type*="error"] {
    width: 90%;
    left: 5%;
    right: 5%;
    background: #b31500
}

.SnackbarHorizontalFlexContainer {
    width: 100%;
    min-height: 50px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.SnackbarMessageContainer {
    flex-grow: 1;
    padding: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.SnackbarIcon {
    flex-shrink: 1;
    fill: #000;
    width: 32px;
    height: 32px;
    margin-left: 10px;

}

.SnackbarButtonContainer {
    flex-shrink: 1;
}

.SnackbarMessage {
    font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
    color: #FFF;
}

.SnackbarMessage[data-type*="error"] {
    color: #FFF;

}