.StatusBarContainer {
    position: fixed;
    width: 100vw;
    height: 30px;
    margin: 0px;
    padding: 0px;
    background: rgba(37,37,37,255);
    -webkit-user-select: none;
    user-select: none;
}

.AwaitingFirebase {
    float: left;
    width: 24px;
    height: 24px;
    color: white;
    animation: spin 0.25s linear infinite;
}

.NotAwaitingFirebase {
    float: left;
    width: 24px;
    height: 24px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.IsConnected {
    float: left;
    width: 16px;
    height: 16px;
    margin: 5px;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    border-radius: 50%;
    background: #0A0;
    animation: ConnectionPing 1s linear 1;
  }
  
  .IsNotConnected {
    float: left;
    width: 16px;
    height: 16px;
    margin: 5px;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    border-radius: 50%;
    background: #AA0000;
    animation: ConnectionPing 1s linear 1;
  }

  @keyframes ConnectionPing {
      0% { background: #000; }
      100% { background: #FFF; }
  }

  .ErrorMessage {
      font-family: var(--primary-font-family);
      font-size: 12pt;
      color: #D00;
      font-weight: 700;
  }

  .VersionNumber {
      font-family: var(--primary-font-family);
      font-size: 8pt;
      color: #FFF;
  }