.TaskListJumpMenuContainer {
    position: absolute;
    z-index: 5;
    right: 33%;
}

.TaskListJumpMenu {
    background: var(--surface-color);
    overflow: scroll;
    padding: 5px 15px;
    border: 1px white solid;
}

.TaskListJumpMenuIcon {
    background: #FFF;
    height: 100%;
    width: 100%;
}