/* TODO: Clean up these Selectors, shift the Position and Sizing up to .TaskContainer */
.TaskContainer {
  height: auto;
  overflow: visible;
  min-height: 40px;
  max-height: 240px; /* Same as .TaskClickContainer max-height */
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.TaskInactiveStyle {
  background: rgba(0,0,0,0);
  color: #FFF;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
  
.TaskBottomBorder {
  margin-left: 30px;
  height: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--task-divider-color);
}


.TaskActiveStyle {
  background: var(--task-selected-color);
  color: #FFF;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}


/* Active and Inactive Tasks set to highPriority */
.TaskActiveStyle[data-ishighpriority*="true"], .TaskInactiveStyle[data-ishighpriority*="true"] {
  box-sizing: border-box;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: var(--important-color);
}

/* Active and Inactive Tasks set to highPriority whilst also being complete */
.TaskActiveStyle[data-ishighpriority*="true"].TaskActiveStyle[data-iscomplete*="true"],
.TaskInactiveStyle[data-ishighpriority*="true"].TaskInactiveStyle[data-iscomplete*="true"] {
  border-left: #282828 6px solid;
}
.TaskMovingStyle {
  background: rgba(63,63,180,255);
  color: #FFF;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  animation: PingMovingTask 0.25s linear 1;
}

@keyframes PingMovingTask {
  100% { background: rgba(63,63,220,255)}
}

.TaskClickContainer {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  max-height: 240px;  /* Same as .TaskContainer max-height */
  overflow: hidden;
  
}


