.TaskCheckBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
}

.TaskCheckBoxIsNotChecked {
  flex-shrink: 1;
  width: 12px;
  height: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--task-checkbox-color);
  margin-left: 5px;
  animation: isDeChecking 0.25s linear 1;
}

.TaskCheckBoxIsNotChecked[data-disableanimations*="true"] {
  animation: unset;
}

@keyframes isDeChecking {
  0% { background: #EEE; }
  100% { background: transparent; }
}

.TaskCheckBoxIsChecked {
  flex-shrink: 1;
  width: 12px;
  height: 12px;
  border: 1px solid #555;
  background: rgba(40,40,40,255);
  margin-left: 5px;
  animation: isChecking 0.25s linear 1;
}

.TaskCheckBoxIsChecked[data-disableanimations*="true"] {
  animation: unset;
}

@keyframes isChecking {
  0% { background: rgba(255,255,255,255); }
  100% { background: rgba(80,80,80,255) }
}

