.TaskTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 2;
  -webkit-user-select: none;
  user-select: none;
}

.TaskText {
  font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
  color: #FFF;
  font-Size: 12pt;
  margin-left: 8px;
}

.Fade {
  opacity: 0.15;
  font-weight: 200;
}

.TaskTextInput {
  width: 300px;
  font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
  color: #FFF;
  background: rgba(100,100,100,255);
  border: 0px solid #FFF;
}