.TaskTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 2;
  -webkit-user-select: none;
  user-select: none;
}

.TaskText {
  font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
  width: 100%;
  color: #FFF;
  font-Size: 12pt;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 3px;
  margin-top: 3px;
}


.Fade {
  opacity: 0.15;
  font-weight: 200;
}

.TaskTextInput {
  width: 100%;
  min-height: 20px;
  margin: 10px 0px;
  resize: none;
  vertical-align: middle;
  font-size: 12pt;
  font-family: 'Segoe UI', Lucinda Grande, Geneva, Verdana, sans-serif;
  color: #FFF;
  background: var(--surface-color-alternate);
  border: 0px solid #FFF;
  padding-top: 5px;
  padding-bottom: 5px;
}