.TaskMetadata {
    position: relative;
    user-select: none;
    cursor: default;
    z-index: 3;
}

.TaskMetadataCloseButton {
    flex-shrink: 1;
    color: #FFF;
    opacity: 0.6;
    width: 24px;
    height: 24px;
    font-family: var(--primary-font-family);
    user-select: none;
    cursor: default;
}

.TaskMetadataGrid {
    height: 100%;
    display: grid;
    grid-template-columns: [Icon]0.35fr [Value]1fr;
    grid-auto-rows: auto;
    padding: 0px 5px 5px 5px;
}

.TaskMetadataSubtitleContainer {
    grid-column: Icon / span 2;
    padding: 5px 0px 5px 10px;
    font-size: 9pt;
}

.TaskMetadataSubtitle {
    color: var(--alternate-active-text-color);
}

.TaskMetadataIconContainer {
    grid-column: Icon;
    align-self: stretch;
    justify-self: start;
    padding-left: 10px;
    padding-right: 10px;
    width: 20px;
}

.TaskMetadataIcon {
    width: 100%;
    height: 100%;
}

.TaskMetadataValue {
    grid-column: Value;
    align-self: stretch;
    height: 100%;
    min-height: 18px;
    color: var(--primary-active-text-color);
    font-family: var(--primary-font-family);
    font-size: 10pt;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

.TaskMetadataDivider {
    grid-column: Value;
    height: 5px;
    width: 100%;
}