/* TODO: Clean up these Selectors, shift the Position and Sizing up to .TaskContainer */
.TaskContainer {
  height: auto;
  overflow: visible;
  min-height: 40px;
  max-height: 240px; /* Same as .TaskClickContainer max-height */
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.TaskPriorityIndicator {
  background:  rgb(255, 150, 0);
  flex-grow: 0;
  width: 5px;
  min-height: 40px;
  display: flex;
  flex-direction: column;
}
.TaskInactiveStyle {
  background: rgba(0,0,0,0);
  color: #FFF;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
  
.TaskBottomBorder {
  margin-left: 30px;
  height: 0px;
  border-bottom: 1px rgb(50,50,50) solid;
}


.TaskActiveStyle {
  background: rgba(55,55,55,255);
  color: #FFF;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}


/* Active and Inactive Tasks set to highPriority */
.TaskActiveStyle[data-ishighpriority*="true"], .TaskInactiveStyle[data-ishighpriority*="true"] {
  box-sizing: border-box;
  border-left: rgb(255, 150, 0) 6px solid;
}

/* Active and Inactive Tasks set to highPriority whilst also being complete */
.TaskActiveStyle[data-ishighpriority*="true"].TaskActiveStyle[data-iscomplete*="true"],
.TaskInactiveStyle[data-ishighpriority*="true"].TaskInactiveStyle[data-iscomplete*="true"] {
  border-left: #282828 6px solid;
}
.TaskMovingStyle {
  background: rgba(63,63,180,255);
  color: #FFF;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  animation: PingMovingTask 0.25s linear 1;
}

@keyframes PingMovingTask {
  100% { background: rgba(63,63,220,255)}
}

.TaskClickContainer {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  max-height: 240px;  /* Same as .TaskContainer max-height */
  overflow: hidden;
  
}


