.TaskTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 2;
  -webkit-user-select: none;
  user-select: none;
}

.TaskText {
  font-family: var(--primary-font-family);
  width: 100%;
  color: var(--task-text-color);
  font-Size: var(--task-font-size);
  margin-right: 8px;
  margin-bottom: 3px;
  margin-top: 3px;
}


.Fade {
  opacity: 0.15;
  font-weight: 200;
}
