.TaskListJumpMenuContainer {
    position: absolute;
    z-index: 5;
    right: 30%;
}

.TaskListJumpMenu {
    background: rgba(37,37,37,255);
    overflow: scroll;
    padding: 5px 15px;
    border: 1px white solid;
}

.TaskListJumpMenuIcon {
    background: #FFF;
    width: 25px;
    height: 25px;
}