/* TODO: Clean up these Selectors, shift the Position and Sizing up to .TaskContainer */
.TaskContainer {
  height: auto;
  overflow: visible;
  min-height: 40px;
  max-height: 240px; /* Same as .TaskClickContainer max-height */
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.TaskInactiveStyle {
  background: rgba(0,0,0,0);
  color: #FFF;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
  
.TaskBottomBorder {
  margin-left: 30px;
  height: 0px;
  border-bottom: 1px rgb(50,50,50) solid;
}


.TaskActiveStyle {
  background: rgba(55,55,55,255);
  color: #FFF;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.TaskMovingStyle {
  background: rgba(63,63,180,255);
  color: #FFF;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  animation: PingMovingTask 0.25s linear 1;
}

@keyframes PingMovingTask {
  100% { background: rgba(63,63,220,255)}
}

.TaskClickContainer {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  max-height: 240px;  /* Same as .TaskContainer max-height */
  overflow: hidden;
  
}


