.TaskMetadata {
    background: rgb(42,42,42);
    user-select: none;
    cursor: default;
}

.TaskMetadataHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.TaskMetadataCloseButtonContainer {
    padding: 5px 10px 0px 10px;
}

.TaskMetadataCloseButton {
    flex-shrink: 1;
    color: #FFF;
    opacity: 0.6;
    width: 24px;
    height: 24px;
    font-family: var(--primary-font-family);
    user-select: none;
    cursor: default;
}

.TaskMetadataGrid {
    height: 100%;
    display: grid;
    grid-template-columns: [Label]1fr [Value]1fr;
    grid-auto-rows: auto;
    padding: 0px 5px 5px 5px;
}

.TaskMetadataLabel {
    grid-column: Label;
    align-self: stretch;
    height: 100%;
    color: var(--alternate-active-text-color);
    font-family: var(--primary-font-family);
    font-size: 10pt;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.TaskMetadataValue {
    grid-column: Value;
    align-self: stretch;
    height: 100%;
    color: var(--primary-active-text-color);
    font-family: var(--primary-font-family);
    font-size: 10pt;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

.TaskMetadataDivider {
    grid-column: Value;
    height: 5px;
    width: 100%;
}