.ToolBarButton {
    width: 100%;
    height: 100%;
    color: #FFF;
    cursor: pointer;
    opacity: 0.75;
}

.ToolBarButtonContainer {
    flex-grow: 0;
    height: 27px;
    width: 48px;
    margin: 4px;
    padding: 4px;
    background-image: var(--primary-button-background-image);
    cursor: pointer;
    border-radius: 2px;
}

.AccountScreenButton {
    font-family: var(--primary-font-family);
    font-size: 36px;
    width: 36px;
    height: 36px;
    color: #FFF;
    margin: 5px;
    cursor: pointer;
    float: right;
}

.ProjectToolbarFlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ToolbarPairsFlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
