
.TaskCommentInputGrid {
    display: grid;
    grid-template-columns: [Text]1fr [Button]auto;
    height: 100%;
}

.TaskCommentInputTextContainer {
    grid-column: Text;
    align-self: center;
    justify-self: center;
    height: 75%;
    width: 90%;
}

.TaskCommentInputButtonContainer {
    grid-column: Button;
    align-self: center;
    justify-self: center;
    margin-right: 10px;
}

.TaskCommentInputTextArea {
    width: 100%;
    height: 100%;
    resize: none;
    background: var(--surface-color-alternate);
    color: var(--primary-active-text-color);
    font-family: var(--primary-font-family);
}
