.CommentPanelGrid {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: [Comments]auto [Input]50px;
}

.CommentPanelCommentsContainer {
    grid-row: Comments;
    align-self: center;
    justify-self: stretch;
    height: 100%;
    margin: 0px 10px 0px 10px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.CommentPanelSpinnerContainer {
    width: 100%;
    height: 100%;
}

.CommentPanelInputContainer {
    grid-row: Input;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 10px;
    background: var(--surface-color-alternate);
}

.CommentPanelNote {
    color: var(--primary-inactive-text-color);
    font-size: 10pt;
    user-select: none;
}