.OverlayMenuContainer {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: 6;
}

.OverlayMenuMeasuringContainer {
    width: fit-content;
    height: fit-content;
}