.AboutPageContainer {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: default;
}

.AboutPageAppInfoContainer {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.AboutPageAppIcon {
    width: 100px;
    height: 100px;
}

.AboutPageAppTitle {
    flex-shrink: 1;
    font-family: var(--primary-font-family);
    color: var(--alternate-active-text-color);
}

.AboutPageVersionNumber {
    flex-shrink: 1;
    font-family: var(--primary-font-family);
    color: var(--alternate-inactive-text-color);
}

.AboutPageAuthor {
    flex-shrink: 1;
    font-family: var(--primary-font-family);
    color: var(--alternate-inactive-text-color);
}


.AboutPageDivider {
    flex-shrink: 1;
    height: 100px;
}


.AboutPageContactContainer {
    flex-shrink: 1;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.AboutPageContactText {
    flex-shrink: 1;
    width: fit-content;
    font-size: 10pt;
    font-family: var(--primary-font-family);
    color: var(--primary-active-text-color);
    margin-bottom: 10px;
}