.AppSettingsMenuSubtitleContainer {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.AppSettingsMenuSubtitle {
    flex: 1;
    display: inline;
    color: #CCC;
    font-family: var(--primary-font-family);
    font-size: 10pt;
    text-align: center;
}